@font-face {
  font-family: "fairyfont";
  src: url(BaroneysTextured.ttf);
}
#puto {
  background-image: url("AA005.jpg");
  height: 100%;
  background-size: cover;
}
html {
  height: 100%;
}
.jumbotron {
  background-color: transparent;
}
body {
  height: 100%;
  background-color: rgb(143, 19, 50);
  font-family: "fairyfont";
  text-align: center;
  color: rgb(255, 255, 255);
}
#header {
  padding-top: 2.3rem;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
}
#name {
  font-size: calc(5rem + 15vmin);
  line-height: normal;
}
#aboutme {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(250, 250, 250);
  height: 100%;
  font-size: 1.8rem;
  background-color: rgb(143, 19, 50);
}
#texto {
  width: 50%;
  text-align: center;
  margin: auto;
}
#invisible_underline {
  border-bottom: 2px transparent;
  display: inline-block;
  line-height: 0.85;
}
#current {
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 0.85;
}
.hint:link {
  color: rgb(255, 255, 255);
}
.hint:visited {
  color: rgb(255, 251, 251);
}
.hint:hover {
  text-decoration: underline;
}
.hint:active {
  text-decoration: none;
}

.nav-link:link {
  color: rgb(255, 255, 255);
}
.nav-link:visited {
  color: rgb(255, 255, 255);
}
.nav-link:hover {
  border-bottom: 2px solid rgb(255, 255, 255) !important;
  display: inline-block;
  line-height: 0.85;
}
.nav-link:active {
  text-decoration: none;
}
